# Comments & Basic Data Types

In [1]:
# this is a comment

In [2]:
print("Hello")   # this is also a comment

Hello

In [3]:
"""
    This is a multi-line comment
"""

print("Hello")   # this is also a comment

Hello

In [4]:
# the following are all integers
print(2)
print(10)

2
10

In [5]:
# the following are all floats
print(10.953)
print(8.0)   # even this number is a float

10.953
8.0

In [6]:
# the following are booleans
print(True)
print(False)

True
False

In [7]:
# the following are strings
print("")
print("There's a snake in my boot!")
print('True')

There's a snake in my boot!
True

## Monday Exercises

In [8]:
print("My name is sai ram")   # Printing out my name.

# Type checking.
print("{} type is {}".format(10, type(10)))
print("{} type is {}".format(5.5, type(5.5)))
print("{} type is {}".format("'I am string'", type("'I am string'")))
print("{} type is {}".format(True, type(True)))

My name is sai ram
10 type is <class 'int'>
5.5 type is <class 'float'>
'I am string' type is <class 'str'>
True type is <class 'bool'>

# Variables

In [9]:
num1 = 5  # storing an integer into a variable
num2 = 8.4  # storing a float into a variable
print(num1, num2)  # you can print multiple itmes using commas

5 8.4

In [10]:
# storing a boolen into variable
switch = True
print(switch)

True

In [11]:
# storing string into a variable
name = 'Sai Ram'
fav_number = '9'
print(name, fav_number)  # will print 9 next to name

Sai Ram 9

In [12]:
# using two variable to create another variable
result = num1 + num2
print(result)

13.4

In [13]:
# adding, deleting, multiplying, dividing from a variable
result += 1  # same as sayign result = result + 1
print(result)
result *= num1  # same as saying result = result * num1
print(result)

14.4
72.0

In [14]:
# defining a variable and overwrting it's value
name = 'Sai'
print(name)
name = 'Ram'
print(name)

Sai
Ram

## Tuesday Exercises

In [15]:
# Variable Output
x = 3
y = 10
result = x * y
print("{} * {} = {}".format(x, y, result))

# Area Calculation
length = 245.54
width = 13.66
area = length * width
print("Area of {} x {} is {}".format(length, width, area))

3 * 10 = 30
Area of 245.54 x 13.66 is 3354.0764

# Working with strings

In [16]:
# using the addition operator without variables
name = "Sai" + " " + "Ram"
print(name)

Sai Ram

In [17]:
# using the addition operator with variables
first_name = "Sai"
last_name = "Ram"
full_name = first_name + " " + last_name
print(full_name)

Sai Ram

In [18]:
# injecting variables using the format method
name = "Sai"
print("Hello {}".format(name))
print("Hello {}, you are {} years old!".format(name, 31))

Hello Sai
Hello Sai, you are 31 years old!

In [19]:
# using the new f strings
name = "Sai"
print(f"Hello {name}")

Hello Sai

In [20]:
# one major difference between version 2 & 3
# is that version 2 does not have .format method,
# uses % sign instead of .format()
name = "Sai"
print('Hello, %s' % name)

Hello, Sai

In [21]:
# python 2 multiple variable formatting 
first_name = "Sai"
last_name = "Ram"
print("Hello, %s %s" % (first_name, last_name))  # surround the variable in
# parenthesis

Hello, Sai Ram

In [22]:
# Using the indexes to print each element
word = 'Hello'
print(word[0])  # will output 'H'
print(word[1])  # will output 'e'
print(word[-1]) # will output 'o'

H
e
o

In [23]:
# String Slicing
print(word[0:2])  # will output 'He'

print(word[0:5:2]) # will output 'Hlo'

He
Hlo

## Wednesday Exercises

In [24]:
# Variable Injection
print("{} {} {} {}".format(23, 4.5, False, "Sai"))

# Fill in the blanks
print("{}'s favorite sport is {}".format('Sai', "golf"))
print("{} is working on {} programming".format("Sai", "python"))

23 4.5 False Sai
Sai's favorite sport is golf
Sai is working on python programming

# Manipulating Strings

In [25]:
# using the title method to captilize a string
name = "sai ram"
print(name.title())

Sai Ram

In [2]:
# using lower and upper method on a string
print(name.lower())
print(name.upper())

sai ram
SAI RAM

In [3]:
# replacing an exclamation point with a period
words = "Hello there!"
print(words.replace("!", "."))

Hello there.

In [4]:
# finding the starting index of our searched term
s = "Look over that way"
print(s.find("over"))

5

In [5]:
# removing white space with strip
name = "  sai  "
print(name.strip())

sai

In [6]:
# using lstrip and rstrip methods on a string
print(name.lstrip())
print(name.rstrip())

sai
  sai

In [7]:
# converting a string into a list of words
s = "These words are separated by spaces"
print(s.split())

['These', 'words', 'are', 'separated', 'by', 'spaces']

## Thursday Exercises

In [9]:
# Uppercasing 
print("uppercase".upper())

# Strip Symbols
print("$$Sai Ram".strip('$'))

UPPERCASE
Sai Ram

# Friday Project: Printing Receipts

In [28]:
# create a produc tand price for three items
p1_name , p1_price = "Books", 49.95
p2_name , p2_price = "Computer", 579.99
p3_name , p3_price = "Monitor", 124.89

# create a company name and information
company_name = "coding temple, inc."
company_address = "283 Franklin St."
company_city = "Boston, MA"

# delcare ending message
message = "Thanks for shoping with us today!"

# create a top border
print("*" * 50)

# print company information first, using format
print("\t\t{}".format(company_name.title()))
print("\t\t{}".format(company_address))
print("\t\t{}".format(company_city))

# print a line between sections
print('=' * 50)

# print out header for section of items
print("\tProduct Name\tProduct Price")

# Print out header for section of items
print("\t{}\t\t${}".format(p1_name.title(), p1_price))
print("\t{}\t${}".format(p2_name.title(), p2_price))
print("\t{}\t\t${}".format(p3_name.title(), p3_price))

# print a line between sections
print('=' * 50)

# Print out header for section of total
print("\t\t\tTotal")

# calculate total price and print out
total = p1_price + p2_price + p3_price
print("\t\t\t${}".format(total))

# print a line between sections
print('=' * 50)

# output thank you message 
print("\n\t{}\n".format(message))

# create a bottom border
print("*" * 50)

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shoping with us today!

**************************************************

## Weekly Challenges

In [1]:
# Reverse
given_str = 'Hello'
print("Without reversing {}".format(given_str))
print("With reversing {}".format(given_str[::-1]))

Without reversing Hello
With reversing olleH

In [2]:
# Researching Methods

In [3]:
# Side Borders

In [25]:
# create a produc tand price for three items
p1_name , p1_price = "Books", 49.95
p2_name , p2_price = "Computer", 579.99
p3_name , p3_price = "Monitor", 124.89

# create a company name and information
company_name = "coding temple, inc."
company_address = "283 Franklin St."
company_city = "Boston, MA"

# delcare ending message
message = "Thanks for shoping with us today!"

# create a top border
print("*" * 50)

# print company information first, using format
print("*\t\t{}\t\t*".format(company_name.title()))
print("*\t\t{}\t\t*".format(company_address))
print("*\t\t{}\t\t\t*".format(company_city))

# print a line between sections
print('=' * 50)

# print out header for section of items
print("*\tProduct Name\tProduct Price\t\t*")

# Print out header for section of items
print("*\t{}\t\t${}\t\t\t*".format(p1_name.title(), p1_price))
print("*\t{}\t${}\t\t\t*".format(p2_name.title(), p2_price))
print("*\t{}\t\t${}\t\t\t*".format(p3_name.title(), p3_price))

# print a line between sections
print('=' * 50)

# Print out header for section of total
print("*\t\t\tTotal\t\t\t*")

# calculate total price and print out
total = p1_price + p2_price + p3_price
print("*\t\t\t${}\t\t\t*".format(total))

# print a line between sections
print('=' * 50)

# output thank you message 
print("*\t\t\t\t\t\t*\n*\t{}\t*\n*\t\t\t\t\t\t*".format(message))

# create a bottom border
print("*" * 50)

**************************************************
*		Coding Temple, Inc.		*
*		283 Franklin St.		*
*		Boston, MA			*
==================================================
*	Product Name	Product Price		*
*	Books		$49.95			*
*	Computer	$579.99			*
*	Monitor		$124.89			*
==================================================
*			Total			*
*			$754.83			*
==================================================
*						*
*	Thanks for shoping with us today!	*
*						*
**************************************************